#iconeLogo {
    filter: brightness(100);
    width: 5em;
}

.opcoes {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.opcoes::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    margin: 0 auto; /* Centraliza */
    height: 2px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.opcoes:hover::after, .ativo::after {
    transform: scaleX(1);
}

#iconeUsuario {
    width: 4em;
}

#edicaoUsuario, #meusConsentimentos {
    background-color: #FFFFFF;
    border-radius: 10px;
}

#imgEditarUsuario {
    width: 1.5em;
}

#imgBusca {
    width: 1.5em;
}

#adicionarConsentimento {
    background-color: #076EA0;
    color: #FFFFFF;
    border-radius: 10px;
}

.gradiente {
    background-image: linear-gradient(to right, #076EA0, #233255, #076EA0);
    background-size: 200% 200%;
    background-position: 25% 50%;
    transition: background-position 0.5s ease;
}

.mudar-gradiente {
    background-position: 75% 50%;
}

.card-text {
    overflow: auto; /* Esconde o texto que excede o limite */
    max-height: 5em;
}

.alteracaoBloqueada {
    background-color: rgb(180, 180, 180);
    cursor: not-allowed;
}

.alteracaoBloqueada:focus {
    background-color: rgb(180, 180, 180);
    border: 1px solid #dee2e6;
}