<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Área do Cliente</title>
    <link rel="shortcut icon" href="../assets/icone-logo.webp" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/padrao.css">
    <link rel="stylesheet" href="../styles/cliente.css">
</head>

<body>
    <header class="container-fluid mb-5">
        <div class="row justify-content-evenly align-items-center p-2">
            <a href="#" class="opcoes col-3 text-center fs-4">Seus Consentimentos</a>
            <img id="iconeLogo" class="col-3" src="../assets/icone-logo.webp" alt="Icone da logo da DPOnet">
            <a href="#" class="opcoes col-3 text-center fs-4">Histórico</a>
        </div>
    </header>

    <main class="container-fluid">
        <!-- Parte de Edição de Cliente -->
        <div id="edicaoUsuario" class="row col-8 mx-auto justify-content-evenly align-items-center mb-5 p-2 d-flex">

            <img id="iconeUsuario" class="col-auto" src="../assets/user.png" alt="Icone de usuário"
                style="max-width: 50px;">

            <div class="input-group col">
                <input type="text" class="form-control fs-5" name="nome" id="inputNomeAlteracao" placeholder="Nome"
                    required>
                <a href="#" class="editarUsuario input-group-text">
                    <img id="imgEditarUsuario" src="../assets/editar.png" alt="Simbolo para edição de usuário">
                </a>
            </div>

            <div class="input-group col">
                <input type="email" class="form-control fs-5" name="email" id="inputEmailAlteracao" placeholder="Email"
                    required>
                <a href="#" class="editarUsuario input-group-text">
                    <img id="imgEditarUsuario" src="../assets/editar.png" alt="Simbolo para edição de usuário">
                </a>
            </div>

            <div class="input-group col">
                <input type="password" class="form-control fs-5" name="senha" id="inputSenhaAlteracao"
                    placeholder="Senha" required>
                <a href="#" class="editarUsuario input-group-text">
                    <img id="imgVisualizarSenha" src="../assets/senha-oculta.webp"
                        alt="Simbolo para mostrar que a senha está oculta">
                </a>
                <a href="#" class="editarUsuario input-group-text">
                    <img id="imgEditarUsuario" src="../assets/editar.png" alt="Simbolo para edição de usuário">
                </a>
            </div>

        </div>

        <!-- Parte de visualização dos consentimentos do usuário -->
        <div id="meusConsentimentos" class="row col-9 mx-auto justify-content-center align-items-center mb-5 p-4">
            <!-- Filtros de ordenação e barra de busca -->
            <div class="row justify-content-between align-items-center mb-3">
                <div class="col-7">
                    <h4>Ordenar por</h4>
                    <button class="btn btn-primary">A-Z</button>
                    <button class="btn btn-primary">Z-A</button>
                    <button class="btn btn-primary">Maior taxa de Consentimento</button>
                    <button class="btn btn-primary">Menor taxa de Consentimento</button>
                </div>
            
                <div class="col-3">
                    <div class="input-group">
                        <input type="text" class="form-control fs-5" name="busca" id="inputBusca" placeholder="Buscar" required>
                        <a href="#" id="busca" class="input-group-text">
                            <img id="imgBusca" src="../assets/lupa.png" alt="Simbolo de busca">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gy-3 justify-content-center">
                <div id="adicionarConsentimento" class="col-2 d-flex justify-content-center align-items-center mx-1">
                    <p>+</p>
                </div>

                <div class="card col-2 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">Nome consentimento</h5>
                        <p class="card-text">descrição</p>
                        <a href="#">Revogar</a>
                    </div>
                </div>
                <div class="card col-2 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">Nome consentimento</h5>
                        <p class="card-text">descrição</p>
                        <a href="#">Revogar</a>
                    </div>
                </div>
                <div class="card col-2 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">Nome consentimento</h5>
                        <p class="card-text">descrição</p>
                        <a href="#">Revogar</a>
                    </div>
                </div>
                <div class="card col-2 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">Nome consentimento</h5>
                        <p class="card-text">descrição</p>
                        <a href="#">Revogar</a>
                    </div>
                </div>
                <div class="card col-2 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">Nome consentimento</h5>
                        <p class="card-text">descrição</p>
                        <a href="#">Revogar</a>
                    </div>
                </div>
                <div class="card col-2 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">Nome consentimento</h5>
                        <p class="card-text">descrição</p>
                        <a href="#">Revogar</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>